**/__pycache__
Passwords.txt
Lamal/export
Lamal/datasource/2011
Lamal/datasource/2012
Lamal/datasource/2013
Lamal/datasource/2014
Lamal/datasource/2015
Lamal/datasource/2016
Lamal/datasource/2017
Lamal/datasource/2018
Lamal/datasource/2019
Lamal/datasource/2020
Lamal/datasource/2021
Lamal/datasource/2022
Lamal/datasource/2023
Lamal/datasource/2024
Lamal/datasource/2025
Lamal/datasource/2026
Lamal/datasource/2027
Lamal/datasource/2028
Lamal/datasource/2029
Lamal/datasource/2030
Lamal/datasource/config.json
Lamal/export
